[Unit]

Description=loggerDemoen
After=network.target



[Service]
Type = oneshot
ExecStrart=/home/loggerDemoen/logger.cpp

[Install]
WantedBy=multi-user.target


